<md-dialog class="stickyDialog" data-type="{{::dialogCtrl.thing.title}}">
    <md-content layout-padding>
        <form name="userForm">
            <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                <div flex-gt-sm="80">
                    <h2>
                        Add connection
                    </h2>
                </div>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ApiSecret</label>
                    <input name="name" ng-model="user.name" required/>
                </md-input-container>
                <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>ApiKey</label>
                    <input name="social" ng-model="user.social" ng-pattern="/^[0-9]{3}-[0-9]{2}-[0-9]{4}$/" required/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Region</label>
                    <input name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" required/>
                </md-input-container>
                <div flex="5" hide-xs hide-sm>
                    <!-- Spacer //-->
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Host</label>
                    <input name="phone" ng-model="user.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" required/>
                </md-input-container>
            </div>
        </form>
    </md-content>
</md-dialog>
